@font-face {
    font-family: 'HSBombaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    * {
        font-family: 'HSBombaram';
    }

    body{
        background: url('../images/Screenshot_43.png');
        background-repeat: no-repeat;
        background-size : 100%;
    }

    .joinbox {
        background-color:rgba( 255, 255, 255, 0.6 );
        width: 600px;
        height: 800px;
        border-radius: 20%;
        box-shadow: 0px 0px 20px navy;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px 0px 0px 70px;

    }

    .boxtext {
        font-size: 60px;
        position: absolute;
        left: 170px;
        top: 150px;
        animation: slide 2s;
    }

    .join_input {
        margin-top: 30px;
        width: 300px;
        height: 40px;
        BACKGROUND-COLOR: #32437E;
        border: #D4E6F0;
    }

    .join_input::placeholder {
        color: white;
        font-size: 15px;
    }

    .buttonwrap {
        display: flex;
        flex-direction: row;
    }

    .join_submit {
        margin-top: 30px;
        width: 80px;
        height: 35px;
        color: #32437E;
        border: 1px solid #32437E;
    }

    .loginbutton {
        margin-top: 30px;
        margin-left: 50px;
        width: 80px;
        height: 35px;
        color: #32437E;
        border: 1px solid #32437E;
    }

    @keyframes slide {
    from {
        left: -100px;
    }
    to {
        left: 170px;
    }
}